body {
	background-color: black;
}
h1 {
	font-family: 'Faster One', cursive;
	font-size: 100px;
	margin: 0 auto;
	color: white;
	text-align: center;
}
h2 {
	color: white;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	margin: 0 auto;
}
p {
	color: white;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}
#car-one-top {
	background: red;
	height: 30px;
	width: 100px;
	position: absolute;
	left: 0px;
	top: 310px;

}
#car-two-bottom {
	background: blue;
	height: 30px;
	width: 100px;
	position: absolute;
	left: 0px;
	top: 410px;

}
#finish-line {
	background: white;
	border-right: 6px solid white;
	height: 300px;	
	display: inline-block;
	position: absolute;
	left: 1200px;
	top: 240px;
}
#f {
	color: red;
}
#u {
	color: blue;
}





